
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
  .text {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}
.WIP { 
/* CHANGE visible WITH hidden */
  visibility: hidden;
}
#profilepic {
  height: 100px;
}

.middle-pic {
  top: 35%;
}




footer {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
}

#headertextcustom {
  text-decoration: none;
  color: #000000;
  position: relative;
  position: middle;
}

#headertextcustom :hover {
  text-decoration: underline;
  color: #000000;
  position: relative;
  position: middle;
}

.outofbox {
  visibility: hidden;
}

