@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
.text {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.navbartext {
  font-size: 2vw;
  
}
.bigtext{
  font-size: 4vw;
}
body {
  display: flex;
  flex-direction: column;
}
.aboutmetext {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5vw;
}
.F-sentence{
  font-size: 5vw;
}
.S-sentence{
  font-size: 3vw;
}

footer {
  width: 100%;
}