@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

a {
  color: black;
  }
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}




footer {
    width: 100%;
  }
  .text {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.navbartext {
  font-size: 2vw;
  
}
.bigtext{
  font-size: 3vw;
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');


.aboutmetext {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5vw;
}
.F-sentence{
  font-size: 5vw;
}
.S-sentence{
  font-size: 3vw;
}
