@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
.text {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.aboutmetext {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5vw;
}
.F-sentence{
  font-size: 5vw;
}
.S-sentence{
  font-size: 3vw;
}

footer {
  width: 100%;
}