{{ define "main" }} {{ partial "breadcrumbs.html" . }} {{ partial
"back_link.html" .}}

<article>
  <p class="post-meta">
    <time datetime="{{ .Date }}">
      {{ .Date | time.Format site.Params.theme_config.date_format }}
    </time>
  </p>
  
  {{ if .Params.tags }}
  <p class="post-tags">
    Tags:
    {{ range $index, $tag := .Params.tags }}
      {{ if $index }}, {{ end }}
      <a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}">{{ $tag }}</a>
    {{ end }}
  </p>
  {{ end }}

  {{ if .Params.complexity }}
  <p class="post-complexity">
    Complexity:
    <a href="{{ "/complexity/" | relLangURL }}{{ .Params.complexity | urlize }}">{{ .Params.complexity }}</a>
  </p>
  {{ end }}

  <h1>{{ .Title }}</h1>

  {{ if .Params.toc }}
  <aside class="toc {{ if .Params.tocBorder }}toc-border{{ end }}">
    {{ .TableOfContents }}
  </aside>
  {{ end }}
  {{ .Content }}
</article>
{{ end }}
