{{ $url := replace .Permalink (printf "%s" .Site.BaseURL) "" }}
{{ $urlParts := split $url "/" }}

<div class="breadcrumbs">
  <div>
    <a href="{{ "/" | relURL }}">Home</a>
    {{ range .Ancestors.Reverse }}
      {{ if not .IsHome }}
        / <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
    {{ end }}
    {{ if not .IsHome }}
        / <a href="{{ .Permalink }}">{{ if .IsPage }}{{ .File.BaseFileName | humanize }}{{ else }}{{ .Title }}{{ end }}</a>
    {{ end }}
  </div>

  {{ if or (eq .Section "blog") (eq .Type "blog") }}
  <div id="search-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
  </div>
  {{ end }}
</div> 
