{{ if site.Params.theme_config.isShowFooter }}
    {{ $footerContent := readFile "layouts/footer.md" }}
    {{ if and $footerContent (ne $footerContent "") }}
        {{ $footerContent | markdownify }}
    {{ else }}
        {{ warnf "layouts/footer.md file is not found or empty. Falling back to default footer." }}
        <footer class="site-footer">
            <p>&copy; {{ now.Format "2006" }} {{ site.Title }}</p>
        </footer>
    {{ end }}
{{ end }}

<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
<script src="/js/search.js"></script>
