<!DOCTYPE html>
<html lang="{{ site.Language.Locale }}">
    {{- partial "head.html" . -}}
    <body a="{{ $.Site.Params.theme_config.appearance | default "auto" }}">
        <a class="skip-link" href="#content">skip to content</a>
        {{ partial "site_nav.html" . }}
        <main class="page-content" id="content" aria-label="Content">
            <div class="w">
                {{- block "main" . }}{{- end }}
                {{/* No footer for resume - cleaner for PDF export */}}
            </div>
        </main>
    </body>
</html>
