{{/* Latest blog posts, title left and date right, hairline row separators. */}}
{{- $limit := int (.Get "limit" | default 4) -}}
{{- $pages := first $limit (where .Site.RegularPages "Section" "blog") -}}
{{- if $pages -}}
  <ul class="writing">
    {{- range $pages }}
      <li class="writing-item">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <time class="writing-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date | time.Format site.Params.theme_config.date_format }}</time>
      </li>
    {{- end }}
  </ul>
  <p class="writing-more"><a href="{{ "/blog/" | relURL }}">all posts &rarr;</a></p>
{{- else -}}
  <p>No recent posts to display at the moment.</p>
{{- end -}}
